---
layout: page
title: "Consultancy"
description: "Specialist review and analysis of services, and advice for project teams."
---

<div class="grid-row">
  <div class="column-two-thirds">
    <ul class="list-reset">
        {% for page in site.pages %}
          {% if page.category contains 'Consultancy' %}
          <li class="content">
            <h2 class="heading-medium"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
            <p>{{ page.content | markdownify | strip_html | truncatewords:25 }}</p>
          </li>
          {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
