---
layout: default
---
<section class="hero">
  <div class="hero__content">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="hero__title">Centre of excellence</h1>
        <p class="hero__description">Providing digital and service leadership, training and advice to portfolios and delivery teams across Home Office Digital, Data and Technology.</p>
      </div><!--column-two-thirds-->
    </div><!-- grid-row-->
  </div><!-- hero content -->
</section>
<main class="full-page-width-wrapper" id="content" role="main">
  <div class="collection">
    <!-- <h2 id="standards" class="collection__title">Support</h2>
    <p class="collection__description">Areas that the Centre of Excellence can support delivery teams with.</p> -->

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/training/">Training</a></h2>
        <p>In-house workshops and training sessions led by profession specialists.</p>
      </div>
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/resources/">Resources</a></h2>
        <p>Specialist knowledge, research findings, recommendations and design patterns.</p>
      </div>
    </div><!-- grid-row -->
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium"><a href="{{ site.url }}{{ site.baseurl }}/consultancy/">Consultancy</a></h2>
        <p>Specialist analysis and advice to help delivery teams build better services.</p>
      </div>
      <!-- <div class="column-half">
        <h2 class="heading-medium"><a href="standards.html">Standards</a></h2>
        <p>The centre of excellence helps set professional standards.</p>
      </div> -->
    </div><!-- grid-row -->

  </div><!-- collection -->
  </div><!-- full-page-width-wrapper -->

</main>
